

<!--<div class="sidenav bg-secondary">-->
<!--<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">  -->
      <div class="card">
        <h5 class="card-header card text-center"> <i class="fa fa-search"> Recherche:</i></h5>
        
        <ul class="list-group list-group-flush">

          <li class="list-group-item">
            <p class="card-text"><em><B>Ocean Proximity:</B></em></p>
            <div class="form-check">

              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
              <label class="form-check-label" for="flexCheckIndeterminate">
                <1H Ocean
              </label>
            </div>
            <div class="form-check">  
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
              <label class="form-check-label" for="flexCheckIndeterminate">
                Inland
              </label>
            </div>
            <div class="form-check"> 
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
              <label class="form-check-label" for="flexCheckIndeterminate">
                Island
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
              <label class="form-check-label" for="flexCheckIndeterminate">
                Near Bay
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
              <label class="form-check-label" for="flexCheckIndeterminate">
                Near Ocean
              </label>
            </div>
          </li>
        </ul>      
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Population</span>
              <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Max" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">total_rooms</span>
              <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Min" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Median_Income</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
          </li>
        </ul>  
        <div class="card-footer text-muted">
          <button type="submit" class="btn btn-secondary btn-block">Rechercher</button>
        </div>
      </div>
    
<!-- Modal -->
<div class="modal fade" id="apropos" tabindex="-1" aria-labelledby="apropos" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="apropos">A Propos De...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p> EstImmO </p>
        <p> version 1.0 </p>...

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
        
      </div>
    </div>
  </div>
</div>